.reward-modal {
    background-color: #2B2B2B;
    position: absolute;
    top: 20%;
    left: 30%;
    right: 30%;
    bottom: 20%;
    border: none;
    overflow: hidden;
    outline-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
    0 2px 2px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12),
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
  }

  .reward-card {
    cursor: pointer;
    width: 591px;
    height: 109px;
    background-color: #444444;
    margin: 20px 0px 20px 0px;
  }

  .reward-container {
    color: white;
  }

  .reward-title-container {
      background-color: #444444;
      text-align: center;
  } .reward-title-title {
      padding-top: 20px;
      font-size: 32px;
      margin: 0px;
  } .reward-title-user {
      font-size: 16px;
      margin: 0px;
      padding-bottom: 20px;
  }

  .pledge-container {
      position: absolute;
      left: 25%;
  }

  .reward-support-text {
    display: flex;
    justify-content: space-between;
  }
  .reward-open-modal {
    align-self: end;
    cursor: pointer;
  }
