.reward-modal {
    background-color: #2B2B2B;
    position: absolute;
    top: 20%;
    left: 30%;
    right: 30%;
    bottom: 20%;
    border: none;
    overflow: hidden;
    outline-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
    0 2px 2px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12),
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
  }

  .reward-circle {
      border: 1px solid white;
      width: 10px;
      height: 10px;
      border-radius: 100%;
  }

  .selected {
      background-color: #44FFF0;
  }

  .reward-card {
    width: 591px;
    height: 109px;
    background-color: #444444;
  }
