.reward-text {
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
}

.cost-ptag {
    margin-bottom: 0px;
}

.reward-info {
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
}

.reward-title-ptag {
    font-weight: bold;
    font-size: 16px;
}

.reward-desc-ptag {
    font-size: 14px;
    overflow-wrap: break-word;
}

.reward-inputbox {
    display: flex;
    align-items: center;
}

.dollarsign {
    margin: 0px 0px 5px 30px;
    border: 2px solid #2B2B2B;
    border-right: none;
    padding: 11.5px 30px 10px 30px;
    font-size: 13px;
}

.reward-number-inputbox {
    width: 50%;
    margin: 0px 40px 5px 0px;
    padding: 10px 10px;
    font-size: 14px;
    background-color: #444444;
    border: 2px solid #2B2B2B;
    color: white;
}

.reward-number-inputbox:focus {
    outline: none !important;
    border: 2px solid #44fff0;
}

.reward-number-inputbox::-webkit-outer-spin-button,
.reward-number-inputbox::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.reward-inputcontinue {
    color: black;
    background-color: #44fff0;
    padding: 10px 20px;
    margin-bottom: 6.5px;
}
