.info-card-container {
    display: flex;
    border: 1px solid #444444;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 1000px;
    margin-top: 40px;
} .info-card {
    width: 33%;

} .box-one, .box-two {
    border-right: 1px solid #444444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-card-data {
    color: #44FFF0;
    font-size: 37px;
    font-weight: bold;
    margin: 0px;
}

.info-card-text {
    margin: 0px;
}
