.carousel-container {
    display: flex;
    align-items: center;
    width: 800px;
    height: 250px;
    justify-content: center;
    margin-top: 60px;
    background-color: #444444;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carousel-image {
    width: 360;
    height: 200px;
    object-fit: cover;
    padding: 20px;
}

.carousel-text-container {
    margin-bottom: 50px;
}

.carousel-text-title {
    font-size: 25px;
    margin-right: 30px;
}

.carousel-card-container {
    display: flex;
    margin-bottom: 20px;
}
