.carousel-container {
    display: flex;
    align-items: center;
    width: 800px;
    height: 250px;
    justify-content: center;
    margin: 60px 0px 60px 0px;
    background-color: #444444;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} .carousel-image {
    width: 30px;
    height: 225px;
    object-fit: cover;
    padding: 20px;
} .carousel-text-container {
    margin-bottom: 50px;
    margin-left: 30px;

} .carousel-text-title {
    font-size: 25px;
    margin-right: 30px;
}

.carousel-card-container {
    display: flex;
    margin-bottom: 20px;
}

.carousel-description-container {
    width: 300px;
}

.about-link-1 {
    height: 75px;
    width: 75px;
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5%;
}
