.project-div {
    max-width: 350px;
    height: 350px;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background: #444444;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-title {
    color: white;
    align-self: center;
}

.project-title>h3 {
    color: rgb(210, 210, 210);
    align-self: center;
}

.project-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
}

.project-image {
    margin-bottom: 10px;
    width: 100%;
    max-height: 35%;
    height: auto;
    display: block;
    object-fit: cover;
}

.project-description {
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}
