.new-form-holder {
    margin: 2% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.create-project-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.create-form-input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    font-size: 14px;
    background-color: #2b2b2b;
    border: 2px solid #444444;
    color: white;
    margin: 10px 0px;
}

.create-form-input::-webkit-outer-spin-button,
.create-form-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.create-form-input:focus {
    border: 2px solid #44fff0;
    outline: none;
}

.create-form-calendar {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    font-size: 14px;
    background-color: #2b2b2b;
    border: 2px solid #444444;
    color: white;
    margin: 10px 0px;
}

.create-form-calendar:focus {
    border: 2px solid #44fff0;
    outline: none;
}

.create-form-calendar::-webkit-calendar-picker-indicator {
    background-color: white;
}

.money {
    display: flex;
    align-items: center;
}

.money-ptag {
    border: 2px solid #444444;
    border-right: none;
    padding: 10px 20px 11px 20px;
}

.create-new-project-button {
    align-self: center;
    background-color: #44fff0;
    color: black;
    width: 30%;
}

.create-project-description {
    resize: none;
    background-color: #2b2b2b;
    border: 2px solid #444444;
    overflow-y: auto;
    height: 150px;
    margin: 10px 0px;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    color: white;
}

.create-project-description:focus {
    border: 2px solid #44fff0;
    outline: none;
}
