.new-form-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.create-project-form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10px;
}

.create-project-form input{
    align-self: center;
    box-sizing: border-box;
    width: 80%;
    padding: 12px;
    font-size: 14px;
    background-color: #2b2b2b;
    border: 2px solid #444444;
    color: white;
}

.create-project-form label{
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.create-project-form select{
    width: 50%;
    align-self: center;
    background-color: #2b2b2b;
    margin-bottom: 10px;
}

.create-new-project-button{
    align-self: center;
    background-color: #44fff0;
    color: black;
    width: 30%;
}


.project-description{
    color: black;
    background-color: #2b2b2b;
    margin-bottom: 20px;
    width: 80%;
    height: 100px;
    align-self: center;
}
