.main-container {
    margin: 20px;
}

.Project-Image-Container {
    max-width: 100%;
    width: 556px;
    height: 300px;
    object-fit: cover;
    justify-self: end;
}

.Project-Image {
    max-width: 95%;
    width: 556px;
    height: 300px;
}

.Project-Rewards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Project-Rewards {
    max-width: 100%;
}

.Project-Detail-div{
    margin: 0% 30% 0% 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Project-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.Project-rewards-btn {
    margin-left: 1%;
    cursor: pointer;
    display: block;
    color: black;
    background-color: #44fff0;
    padding: 10px 20px;
    margin-bottom: 6.5px;
    text-align: center;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    font-size: 12px;

}

.Project-edit-btn {
    display: block;
    text-align: center;
    color: #ffffff;
    background: transparent;
    background-color: #444444;
    padding: 5px 20px;
    margin: 10px 10px;
    border-radius: 5%;
    outline-width: thin;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    font-size: 12px;
    box-shadow: inset 0 0 0 1.5px #7c7c7c;


}

.Project-delete-btn,
.Delete-cancel-btn {
    cursor: pointer;
    display: block;
    background: transparent;
    border-radius: 5%;
    outline-width: thin;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 25px;
    padding: 5px 20px;
    margin: 10px 10px;
    text-decoration: none;
    font-size: 12px;
    background-color: #444444;

}

.Delete-confirm-btn{
    cursor: pointer;
    display: block;
    background: transparent;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 25px;
    padding: 5px 20px;
    margin: 10px 10px;
    text-decoration: none;
    font-size: 12px;
    background-color: #af0101;
}

.lower-link-container {
    display: flex;
}

.project-links-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 10px;
    gap: 50px;
}

.write-comment-form {
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items: center;
}

.write-comment-form > textarea {
    background: rgb(29, 25, 25);
    resize: none;
    height: 10%;
    width: 50%;
    margin-bottom: 15px;
}
.write-comment-form button {
    margin-left: 15px;
    margin-bottom: 20px;
    padding:10px;
    width: 5%;
    margin-left: 1px;

}

.view-project-comments-div button {
    color: #44fff0;
    background-color: #9a0000;
    margin-bottom: 15px;
    width: 7%;
}

.lineDiv {
    color:black;
    background-color: #26968d;
    width: 100%;
    height: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.comments-section-div {
    margin-bottom: 5px;
    max-width: 50%;
    text-overflow:ellipsis;
    overflow-x:inherit;
    display: flex;
    overflow-wrap:break-word;
    margin-top: 2rem;
}
.comments-section-div img {
    margin-left: 1rem;
}

.delete-comment-button {
    margin-left: 10px;
    margin-top: 5px;
    height: 2.5rem;
    font-size: larger;

}

.comments-section-info {
    margin-left: 5rem;
    max-width: 100%;
}

.write-comment-form .publish-comment-button {
    background-color: #44fff0;
    color: black;
}

.review-comment-h3 {
    width: 100%;
    max-width: 100%;
}
