.main-container {
    margin: 20px;
}

.Project-Image-Container{
    max-width: 100%;
    width: 556px;
    height: 300px;
    object-fit: cover;
    justify-self: end;
}

.Project-Image{
    max-width: 95%;
}

.Project-Rewards-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Project-Rewards{
    max-width: 100%;
}

.Project-Detail-div{
    margin: 0% 30% 0% 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Project-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.Project-rewards-btn {
    display: block;
    color: black;
    background-color: #44fff0;
    padding: 10px 20px;
    margin-bottom: 6.5px;
    text-align: center;
    border-radius: 5%;
    outline-width: thin;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    font-size: 12px;
    box-shadow: inset 0 0 0 1.5px #7c7c7c;

}

.Project-edit-btn {
    display: block;
    text-align: center;
    color: #ffffff;
    background: transparent;
    background-color: #444444;
    padding: 5px 20px;
    margin: 10px 10px;
    border-radius: 5%;
    outline-width: thin;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    font-size: 12px;
    box-shadow: inset 0 0 0 1.5px #7c7c7c;


}

.Project-delete-btn,
.Delete-cancel-btn {
    display: block;
    background: transparent;
    outline: solid #3d3d3d;
    border-radius: 5%;
    outline-width: thin;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 25px;
    padding: 5px 20px;
    margin: 10px 10px;
    text-decoration: none;
    font-size: 12px;
    background-color: #444444;

}

.Delete-confirm-btn{
    display: block;
    background: transparent;
    outline: solid #580101;
    border-radius: 5%;
    outline-width: thin;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 25px;
    padding: 5px 20px;
    margin: 10px 10px;
    text-decoration: none;
    font-size: 12px;
    background-color: #af0101;
}

.lower-link-container{
    display: flex;
}

.project-links-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 10px;
    gap: 50px;
}
